<div id="nav-bar">

  <%= link_to('Home', root_path,
              class: "nav-item nav-link") %>

  <%= link_to('Blank', '/welcome/index',
              class: "nav-item nav-link") %>

  <%= link_to('Custom Datatable', '/welcome/custom-datatable',
              class: "nav-item nav-link") %>

  <%= link_to('Ajax Datatable', '/welcome/ajax-datatable',
              class: "nav-item nav-link") %>

  <%= link_to('Articles', articles_path,
              class: "nav-item nav-link") %>

  <%= link_to('Article Search', search_articles_path,
              class: "nav-item nav-link") %>

  <%= link_to('Rails 6 Config', '/welcome/rails6-config',
              class: "nav-item nav-link") %>

</div>
